html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  background-color: #f2f2f2;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  line-height: 1.5;
}

h2 {
  text-align: center;
  font-size: 1rem;
}

img {
  width: 100%;
  width: 100px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.image {
  flex-wrap: nowrap;
  text-align: center;
}

.content {
  flex-wrap: nowrap;
  font-size: .875rem;
}

article {
  border-left: 2px solid #000;
  width: 25%;
  padding: .75rem;
  flex-wrap: nowrap;
  flex-grow: 1;
  flex-direction: column;
  display: flex;
}

section {
  display: flex;
}

.btn {
  background-color: #333;
  color: #fff;
  border-radius: 8px;
  text-decoration: none;
  display: inline-block;
  font-size: 1.125rem;
  margin: 5px;
  padding: .4em .75em .3em;
  display: block;
}

.btn:hover {
  background-color: #000;
}

.btn-small {
  font-size: .875rem;
}

.dino {
  background-color: #ccc;
}

.anderson {
  background-color: #e2e2e2;
}

.dragon {
  background-color: #aaa;
}

.ships {
  background-color: #999;
}

.h2 {
  font-size: 2rem;
}

p {
  margin-top: 0;
  font-size: 1rem;
}

h3 {
  margin-bottom: 0;
}
